{% extends "base.html" %}

{% block title %}About{% endblock %}

{% block content %}
    <h2>About Unsent Project Clone</h2>
    <p>Welcome to the Unsend. This web application allows users to submit anonymous messages to people they have never sent messages to. Users can also search for messages by name and view them in a card format.</p>
    <p>Features:</p>
    <ul>
        <li>Submit anonymous messages with a name and message content.</li>
        <li>Search for messages by name.</li>
        <li>View messages in a card format with the name in bold and the message content below.</li>
    </ul>
    <p>All messages are stored in a MongoDB database and are displayed in reverse chronological order.</p>
{% endblock %}
